header { 
padding-top: 12px;
padding-left: 12px;
padding-bottom: 12px;
padding-right: 12px;
}
section header { 
padding-top: 4px;
padding-left: 4px;
padding-bottom: 4px;
padding-right: 4px;
}
p {
  color: lightblue;
}